/* POLITICA */
div.post-full.topic-politica > div.post-heading {
    background-color: hsl(120, 69%, 44%);
}

div.post-full.topic-politica > div.post-heading > div.post-avatar {
    border-color: hsl(120, 69%, 44%);
}

div.post-full.topic-politica > div.post-heading > span.post-topic:after {
    content: "politica";
}

/* CHIESA */
div.post-full.topic-chiesa > div.post-heading {
    background-color: hsl(58, 69%, 44%);
}

div.post-full.topic-chiesa > div.post-heading > div.post-avatar {
    border-color: hsl(58, 69%, 44%);
}

div.post-full.topic-chiesa > div.post-heading > span.post-topic:after {
    content: "chiesa";
}

/* MEMES */
div.post-full.topic-memes > div.post-heading {
    background-color: hsl(0, 69%, 44%);
}

div.post-full.topic-memes > div.post-heading > div.post-avatar {
    border-color: hsl(0, 69%, 44%);
}

div.post-full.topic-memes > div.post-heading > span.post-topic:after {
    content: "memes";
}